/* Updated CSS styles for Magical Arena */

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
  }
  
  .arena {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    width: 80%;
    max-width: 900px; /* Adjust main box width as needed */
  }
  
  .players {
    display: flex;
    justify-content: space-evenly;
    padding: 2px 2px 2px 2px;
    margin-bottom: 20px;
  }
  
  .player {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 0px 20px 0px 20px;
    border-radius: 10px;
    text-align: center;
    width: 65%;
    background-color: #fff;
  }
  
  .players .player {
    width: auto;
    height: auto; 
  }
  
  .logs {
    width: 100%;
    overflow: scroll; /* Make table scrollable */
    max-height: 300px; /* Limit max height to enable scrolling */
  }
  
  .log-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .log-table th,
  .log-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: justify;
    overflow: scroll;
  }
  
  .log-table th {
    background-color: #f0f0f0;
  }
  
  .log-table td {
    background-color: #fff;
  }
  